<div id="home-content">
    <div class="row">
        <div class="col-xs-12 main-logo-container">
            <img src="/assets/img/main-logo.png" height="120" alt="Jamkie">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 hidden-sm">
            <h1>Free backing track for</h1>
            <h1>your jam session</h1>
            <h2>Improve your improvisation skills over a static chord or create your own chord sequence and play along.</h2>
        </div>
        <div class="col-xs-12 visible-sm margTop10">
            <h1>Free backing track for your jam session</h1>
            <h2>Improve your improvisation skills over a static chord or create your own chord sequence and play along.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="big-link">
                <a href="/#static-chord" ng-click="setLocation('staticChord')">static chord</a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="big-link">
                <a class="big-link" href="/#chord-progression" ng-click="setLocation('chordProgression')">chord progression</a>
            </div>
        </div>
    </div>
</div>
